<div>
    <h2>Product List</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.title }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a [routerLink]="['/products/edit', product.id]">Edit</a>
                    <button (click)="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a [routerLink]="['/products/create']">Create New Product</a>
</div>
